body {
	background-color: lightblue;
	width: 1200px;
  margin: auto;
  border: 1px solid red;
}
.p1 {
  font-family: "comic sans MS", serif, sans-serif;
}
.p2 {
  font-family: "Brush Script MT", serif, sans-serif;
}
.p3 {
  font-family: "georgia, serif", serif, sans-serif;
}
nav {
  background: #ccc;
}
